section.content{
    padding: 15px;
}

.hideNavText{
    max-width: 0;
    opacity: 0;
}

.filter-form{
    margin-bottom: 15px;
    padding: 0 15px;
}

.filter-form .form-group{
    margin:15px 5px 0 0;
}

.panel-title-text{
    margin: 10px 0;
}

.separator{
    margin: 0 8px;
    color: rgba(0, 0, 0, 0.3);
}

.parent-menu-title{
    color: rgba(0, 0, 0, 0.65);
}

.children-menu-title{
    vertical-align: text-top;
    color: rgba(0, 0, 0, 0.65);
    font-weight:initial;
}